body {
  font-family: "Avenir Next";
}
ul {
  float: right;
  border-bottom: 2px solid #dee7ec;
}

.mimah {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.mimahnst {
  float: left;
  font-size: 40px;
  padding: 20px 40px;
}


.hamimah {
  background-color: pink;
  padding: 20px 10px;
}

.nurhamimah h1 {
  font-size: 100px;
  padding-top: 20px;
  text-align: center;
  text-decoration: overline;
}

.nurhamimah h2 {
  font-size: 50px;
  text-align: center;
  
}

.nurhamimah span {
  color: #ff4a4a;
}
img {
	border-radius: 50%;
	height: 40%;
	width: 50%;
	float: left;
	display: inline-block;
}

.nurhamimah pre {
	font-family: "Britannic bold";
	font-size: 25px;
	text-shadow: 4px 4px white;
	
	

}

.mimahnasution {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}





